bin
target
out
*.iml
logs/
*.swp
.*.swp
*.csv
src/main/java/META-INF
src/main/resources/META-INF
src/main/resources/datasource.properties
src/main/resources/redis.properties
src/main/resources/jms.properties
*.data
*.conf
mydb.sql
