<?xml version="1.0" encoding="utf-8"?>
<!-- Spring配置文件的根元素，使用spring-beans-3.0.xsd语义约束 -->
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	
	<!--  <context:component-scan base-package=" "></context:component-scan> -->
	
	<bean id="legalListFilter" class="com.iwebirth.server.LegalListFilter">
		<property name="addrRegex" value=".*"/>  <!-- legal ip regex (here is all allowed) -->
	</bean>
	<!-- load prop files -->
    <context:property-placeholder location="classpath:redis.properties,classpath:datasource.properties" />

</beans>